* {
    color: white;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: var(--background--one);
}

/*TODO variables */
:root {
    /**body */
    --background--one: #304966;
    /* * header */

    /* * footer */
}

/* ?Header */
header {
    background-color: rgb(169, 217, 243);
    height: 4ch;
}

header>nav>div>a>* {
    height: 20px;
    margin: 5px;
}

header>nav>div>* {
    position: absolute;
    height: 20px;
}

/*!Menu desplegable */


#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu ul a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    padding: 10px;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#menu ul li {
    position: relative;
    float: left;
    margin: 4px;
    padding: 4px;
}
#menu ul li:hover {
    background: #5b78a7;
}

#menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
}
#menu ul ul li {
    float: none;
    width: 150px
}

#menu ul ul a {
    line-height: 120%;
    padding: 10px 15px;
}

#menu ul li:hover>ul {
    display: block;
}

/* * Icons situation */
#space {
    width: 2px;
    background-color: rgb(83, 124, 141);
    top: calc(calc(4ch - 3.25ch) / 2);
    height: 3.25ch;
}

.nav-div-space-list {
    left: 2%;
}

.nav-div-space-social {
    left: calc(94% - 2%);
}

.nav-div-youtube {
    left: calc(94% - 1.5%);
}

.nav-div-twitter {
    left: calc(96% - 1.5%);
}

.nav-div-twitch {
    left: calc(98% - 1.5%);
}

.nav-div-github {
    left: calc(100% - 1.5%);
}

/**Profile */
.zonary123 {
    margin-top: 10px;
    margin-top: 1vh;
    display: flex;
    justify-content: center;
}

.zonary123>img {
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-top: 10px;
    background: #fff;
}

/* ?Efecto maquina de escribir */
.div-typing {
    display: flex;
    justify-content: center;
    margin-top: 1vh;
}

.typing {
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 2px solid;
    width: 21ch;
    font-size: 24px;
    font-weight: bold;

    animation: typing 3s steps(24), blink 0.50s infinite step-end alternate;
    overflow: hidden;
    color: rgb(95, 162, 187);
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

/**Footer */
footer>hr {
    height: 2px;
    margin: 1px;
    padding: 1px;
    background-color: red;
}

footer>div,p,a {
    color: rgb(112, 109, 109);
    font-size: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;

}